assets/bread_bear_assets.zip
assets/animation source/avo anim/0.png
assets/animation source/avo anim/1.png
assets/animation source/avo anim/2.png
assets/animation source/avo anim/3.png
assets/animation source/bird attack warning/0.png
assets/animation source/bird attack warning/1.png
assets/animation source/bird attack warning/2.png
assets/animation source/bird attack warning/3.png
assets/animation source/bird wing flapping/0.png
assets/animation source/bird wing flapping/1.png
assets/animation source/bird wing flapping/2.png
assets/animation source/bird wing flapping/3.png
assets/animation source/bread bear ear wiggle/0.png
assets/animation source/bread bear ear wiggle/1.png
assets/animation source/bread bear ear wiggle/2.png
assets/animation source/bread bear ear wiggle/3.png
assets/animation source/bread bear ear wiggle/4.png
assets/animation source/bread bear ear wiggle/5.png
assets/animation source/bread bear ear wiggle/6.png
assets/animation source/bread bear fear/scarebear.png
assets/animation source/bread bear notice/0.png
assets/animation source/bread bear notice/1.png
assets/animation source/bread bear notice/2.png
assets/animation source/bread bear notice/3.png
assets/animation source/bread bear notice/4.png
assets/animation source/butter anim/0.png
assets/animation source/butter anim/1.png
assets/animation source/butter anim/2.png
assets/animation source/butter anim/3.png
assets/animation source/jam anim/0.png
assets/animation source/jam anim/1.png
assets/animation source/jam anim/2.png
assets/animation source/jam anim/3.png
assets/old/0.psd
assets/old/avocado.png
assets/old/background.psd
assets/old/background2.psd
assets/old/bird.png
assets/old/breadbear.png
assets/old/breadbear.psd
assets/old/butter.png
assets/old/cloud.png
assets/old/jam.png
assets/old/jamface.png
assets/psd master/assets basic.psd
assets/psd master/assets update 1.psd
assets/psd master/assets update 2.psd
assets/psd master/breadbear logo.psd
assets/psd master/BreadBear_StoryBoard_in_progress.psd
